{% extends "base.html" %}

{% block content %}
<h1>DOCX Templates</h1>

<a href="{% url 'documents:template_upload' %}">Upload new template</a>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Variables</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in templates %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.variables|join:", " }}</td>
                <td>{{ item.created_at }}</td>
                <td>
                    <a href="{% url 'documents:template_edit' item.id %}">
                        Edit
                    </a>
                    |<a href="{% url 'documents:document_create_from_template' item.id %}">
                        Create document
                    </a>

                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No templates yet.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}